USE [master]
GO
/****** Object:  Database [Pets]    Script Date: 25.10.2024 8:09:27 ******/
CREATE DATABASE [Pets]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Pets', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\Pets.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Pets_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\Pets_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Pets].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Pets]
GO
/****** Object:  Table [dbo].[Pets]    Script Date: 25.10.2024 8:09:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Pets](
	[ID] [int] NOT NULL,
	[Name] [nvarchar](50) NULL,
	[Owner] [int] NULL,
 CONSTRAINT [PK_Pets] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Photo]    Script Date: 25.10.2024 8:09:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Photo](
	[ID] [nvarchar](50) NOT NULL,
	[Image] [nvarchar](200) NULL,
	[Pet] [int] NULL,
	[Description] [nvarchar](100) NULL,
 CONSTRAINT [PK_Photo] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 25.10.2024 8:09:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[ID] [int] NOT NULL,
	[Name] [nvarchar](50) NULL,
 CONSTRAINT [PK_Users] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Pets] ([ID], [Name], [Owner]) VALUES (1, N'Котенок Ра', 1)
INSERT [dbo].[Pets] ([ID], [Name], [Owner]) VALUES (2, N'Собачка Нуби', 2)
GO
INSERT [dbo].[Photo] ([ID], [Image], [Pet], [Description]) VALUES (N'09be67e7-f983-4341-bd86-c1dd53397ad1', N'file:///C:/Users/MorFy/source/repos/HisambievBulat321_Pets/Resources/Images/2.jpg', 1, N'Лежат вдвоем')
INSERT [dbo].[Photo] ([ID], [Image], [Pet], [Description]) VALUES (N'55fef6f1-1f0b-498c-9bb1-210c0e685cd6', N'file:///C:/Users/MorFy/source/repos/HisambievBulat321_Pets/Resources/Images/1.jpg', 1, N'Заигрался')
INSERT [dbo].[Photo] ([ID], [Image], [Pet], [Description]) VALUES (N'68ce5111-831f-4e5f-b397-fe607dbcd5fc', N'file:///C:/Users/MorFy/source/repos/HisambievBulat321_Pets/Resources/Images/2.jpg', 2, N'Лежат вдвоем')
GO
INSERT [dbo].[Users] ([ID], [Name]) VALUES (1, N'Pyro')
INSERT [dbo].[Users] ([ID], [Name]) VALUES (2, N'Деля')
GO
ALTER TABLE [dbo].[Pets]  WITH CHECK ADD  CONSTRAINT [FK_Pets_Users] FOREIGN KEY([Owner])
REFERENCES [dbo].[Users] ([ID])
GO
ALTER TABLE [dbo].[Pets] CHECK CONSTRAINT [FK_Pets_Users]
GO
ALTER TABLE [dbo].[Photo]  WITH CHECK ADD  CONSTRAINT [FK_Photo_Pets] FOREIGN KEY([Pet])
REFERENCES [dbo].[Pets] ([ID])
GO
ALTER TABLE [dbo].[Photo] CHECK CONSTRAINT [FK_Photo_Pets]
GO
USE [master]
GO
